<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <property name="LOGS" value="${application.logpath:-./logs}" />
 
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </layout>
    </appender>
 
    <appender name="rootRollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/root.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
 
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/root-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
     
    <root level="info">
        <appender-ref ref="rootRollingFile" />
    </root>
 
    <logger name="com.baeldung" level="info" additivity="false">
        <appender-ref ref="rootRollingFile" />
    </logger>
    
    <appender name="HIBERNATE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/hibernate.log</file>
        <encoder>
            <pattern>%date [%level] from %logger - %message%n%xException</pattern>
        </encoder>
        
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/hibernate-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <logger name="org.hibernate" level="INFO">
    	<appender-ref ref="HIBERNATE_LOG" />
    </logger>
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
    	<appender-ref ref="HIBERNATE_LOG" />
    </logger>
    
   
    <appender name="JDBC_TEMPLATE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/jdbcNamedTemplate.log</file>
        <encoder>
            <pattern>%date [%level] from %logger - %message%n%xException</pattern>
        </encoder>
        
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/jdbcNamedTemplate-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG">
    	<appender-ref ref="JDBC_TEMPLATE_LOG" />
    </logger>
    
    <appender name="MESSAGES_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/messages.log</file>
        <encoder>
            <pattern>%date [%level] from %logger - %message%n%xException</pattern>
        </encoder>
        
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/messages-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <logger name="kafka" level="INFO">
    	<appender-ref ref="MESSAGES_LOG" />
    	<appender-ref ref="Console" />
    </logger>
    
    <appender name="REPOSITORIES_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/repositories.log</file>
        <encoder>
            <pattern>%date [%level] from %logger - %message%n%xException</pattern>
        </encoder>
        
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/repositories-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <logger name="repositories" level="INFO">
    	<appender-ref ref="REPOSITORIES_LOG" />
    	<appender-ref ref="Console" />
    </logger>
    
    <appender name="SERVICES_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/services.log</file>
        <encoder>
            <pattern>%date [%level] from %logger - %message%n%xException</pattern>
        </encoder>
        
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/services-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <logger name="services" level="INFO">
    	<appender-ref ref="SERVICES_LOG" />
    	<appender-ref ref="Console" />
    </logger>
    
    <appender name="SECURITY_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/security.log</file>
        <encoder>
            <pattern>%date [%level] from %logger - %message%n%xException</pattern>
        </encoder>
        
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/securitys-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <logger name="org.springframework.security" level="INFO">
        <appender-ref ref="SECURITY_LOG" />
    	<appender-ref ref="Console" />
    </logger>

    <appender name="REST_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/rest.log</file>
        <encoder>
            <pattern>%date [%level] from %logger - %message%n%xException</pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/rests-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="controllers" level="INFO">
        <appender-ref ref="REST_LOG" />
        <appender-ref ref="Console" />
    </logger>
 
</configuration>