<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="subsystem" source="subsystem"/>
    <springProperty scope="context" name="application_name" source="spring.application.name"/>
    <springProperty scope="context" name="application_address" source="spring.cloud.client.ip-address"/>
    <property name="LOGS" value="${application.logpath:-./logs}" />

    <springProfile name="docker_log">
        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdc>false</includeMdc>
                <fieldNames>
                    <timestamp>timestamp</timestamp>
                    <message>message</message>
                    <thread>thread</thread>
                    <logger>[ignore]</logger>
                    <version>[ignore]</version>
                    <levelValue>[ignore]</levelValue>
                    <caller>[ignore]</caller>
                    <stackTrace>exception</stackTrace>
                </fieldNames>
            </encoder>
        </appender>
        <appender name="rootRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOGS}/root.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOGS}/root-%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>5</maxHistory>
            </rollingPolicy>
        </appender>
        <root level="INFO" additivity="false">
            <appender-ref ref="jsonConsoleAppender" />
            <appender-ref ref="rootRollingFile" />
        </root>
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="rootRollingFile" />
        </logger>
    </springProfile>



    <springProfile name="local_log">
        <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d %p %C{1.} [%t] %m%n
                </Pattern>
            </layout>
        </appender>

        <logger name= "org.springframework.security" level="DEBUG" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <logger name= "org.springframework.web" level="DEBUG" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <root level="INFO" additivity="false">
            <appender-ref ref="Console" />
        </root>
    </springProfile>
</configuration>