.DS_Store
target/

# local env files
application-local.properties

# Log files

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.idea/workspace.xml
.idea/dataSources*
.idea/shelf
.idea/copyright
.idea/libraries
.idea/
