<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="${application.logpath:-./logs}"/>

    <appender name="console_log"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{"yyyy-MM-dd HH:mm:ss.SSS"} %-5level [%t] %C{1.}: %msg%n%throwable</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="console_log"/>
    </root>
</configuration>